$font-family--1: 'PF Beau Sans Pro', Arial, Helvetica, sans-serif;
$font-family--2: Arial, sans-serif;

$screen-xl-min: 1601px;
$screen-lg-max: 1600px;
$screen-lg-min: 1367px;
$screen-md-max: 1366px;
$screen-md-min: 1025px;
$screen-sm-max: 1024px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
$screen-xs-min: 640px;
$screen-2xs-max: 639px;
$screen-2xs-min: 480px;
$screen-3xs-max: 479px;
$screen-3xs-min: 380px;
$screen-4xs-max: 379px;
$screen-4xs-min: 0px;

$lg-padding: 40px;
$md-padding: 30px;
$sm-padding: 20px;
$xs-padding: 15px;

$anim-duration: 300ms;

$color-white: #fff;
$color-gray-light: #eee;
$color-gray-light-2: #d9d9d9;
$color-gray-light-rgb: rgb(200, 200, 200);
$color-gray-light-3: #abadb3;
$color-gray: #979797;
$color-gray-rgb: rgb(151, 151, 151);
$color-gray-darker: #6e6f72;
$color-black-dark: #000;
$color-black: #221e1f;
$color-yellow: #fff200;
$color-yellow-rgb: rgb(255, 242, 0);
$color-red: red;

//Пример без мексинов
//font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));

//Пример @include adaptiv-value("padding-bottom", 50, 20, 0);
$maxWidth: 1920;
$maxWidthContainer: 1320;
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addSize} *
					((100vw - 320px) / #{$maxWidthContainer - 320})
			);
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
			);
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));					
	}
}
//Пример подключения sprite
// <span class="svg-icon-span">
// <svg class="svg-icon  svg-icon-star">
// <use xlink:href="/local/build/img/sprite/sprite.svg#star"></use>
// </svg>
// </span>
